.t-icon-input {
    /* display: flex; */
}

.t-icon-input .icon {
    width: 45px;
    height: 40px;
    background-color: aliceblue;
    border: 1px solid #ccc;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    margin: 5px -10px 5px 0px;
    z-index: 1;
    font-size: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(78, 78, 78);
}

.t-icon-input input:focus {
    /* background-color: yellow; */
    outline: none;
}

/* css check box */
.t-checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    color: dimgrey;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    align-content: center;
}

.t-checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
}

.t-checkbox-container:hover input~.checkmark {
    background-color: #ccc;
}

.t-checkbox-container input:checked~.checkmark {
    background-color: #2196F3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.t-checkbox-container input:checked~.checkmark:after {
    display: block;
    top: 2px;
    left: 6px;
}

.t-checkbox-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}