<div *ngFor="let user of users$ | async">
  {{ user.username }}
</div>
------------------- usernames
<div *ngFor="let username of usernames$ | async">
  {{ username }}
</div>

------------------- filteredUsers
<div *ngFor="let user of filteredUsers$ | async">
  {{ user.username }}
</div>

------------------- BehaviorSubject
<div *ngIf="user$ | async as user">
  {{ user.username }}
</div>

------------------- combineLatest

<div *ngIf="data$ | async as data">
  <div *ngFor="let user of data.users">
    {{ user.username }}
  </div>
  <div *ngFor="let username of data.usernames">
    {{ username }}
  </div>
  <div *ngFor="let filteredUser of data.filteredUsers">
    {{ filteredUser.username }}
  </div>
</div>
